body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#divToDo {
  top: 10px;
  left:1%;
  height:100px;
  width:98%;
  border : 1px solid;
  position:relative;
}
#toDoList{
    width: 50%;
    margin:auto;
}
